@model List<UserTicket>
@{
    ViewData["Title"] = "CoinPay.CR Affiliate Game";
}

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1>Ticket List</h1>
                    <p class="lead">Tickets Bought By User:.</p>
                    <div id="divContainer" style="text-align:center;">
                        @foreach (var item in Model.OrderBy(x => x.TicketNumber).GroupBy(x => x.TicketNumber))
                        {
                            string c = (item.Key < 10) ? "0" : "";
                            <a href="#" class="btn btn-primary m-2" id="" type="button">Tkt# @(c+ item.Key)</a>
                            foreach (var itm in item)
                            {
                                <span>User: <b>@itm.Email</b>  Bought: @itm.TicketCount tickets, </span>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
