<div class="w-100 clearfix">
    <span class="text-center text-sm-left d-md-inline-block">Copyright &#169; @DateTime.Now.Year CoinPay.</span>
    <span class="float-none float-sm-right mt-1 mt-sm-0 text-center"> All Rights Reserved.</span>
</div>