<div class="nav-container">
    <nav id="main-menu-navigation" class="navigation-main">
        @*
             <div class="nav-item">
                 <a asp-action="Wallet"><i class="ik ik-plus-circle"></i><span>ETH Distribution</span> </a>
             </div>
             <div class="nav-item">
                 <a asp-controller="Speaker"
        asp-action="Index" class="stopAjax"><i class="ik ik-search"></i><span>Metamask</span> </a>
             </div>


        <div class="nav-item">
            <a asp-action="Reports" class=""><i class="ik ik-activity"></i><span>Reports</span> </a>
        </div>
        <div class="nav-item">
            <a asp-action="Invite" class=""><i class="ik ik-share"></i><span>Invite</span> </a>
        </div>

        <div class="nav-item">
            <a asp-action="LostETH" class=""><i class="ik ik-eye-off"></i><span>Lost ETH Reports</span> </a>
        </div>
        <div class="nav-item">
            <a asp-action="Spendings" class=""><i class="ik ik-gift"></i><span>Spendings</span> </a>
        </div>
        <div class="nav-item">
            <a asp-action="SendETH" class=""><i class="ik ik-send"></i><span>Send ETH Out</span> </a>
        </div>
        *@


        <div class="nav-item">
            <a asp-action="Index" class=""><i class="ik ik-plus-circle"></i><span>BUY</span> </a>
        </div>

        <div class="nav-item">
            <a asp-action="BorrowerForm"><i class="ik ik-plus-circle"></i><span>SELL</span> </a>
        </div>


        <br /><br />
       
        <div class="nav-item">
            <a asp-action="LendUSD"><i class="ik ik-plus-circle"></i><span>CREATE OFFER</span> </a>
        </div>

        <div class="nav-item">
            <a asp-action="Index"><i class="ik ik-plus-circle"></i><span>WALLET</span> </a>
        </div>


       

    </nav>
</div>