@{
    ViewData["Title"] = "CoinPay.CR Affiliate Game";
}

    <div class="text-center">
        @*Game Rules:
        (1) Whoever join this game by spending L1=0.30 ETH ,will get 3*(L1/2)=0.45 ETH by default.[so, whoever join, will get this profit by default even without adding New user]
        (2) Whoever bring new user will get 50% reward(L1/2)=0.15 ETH. But the user must Buy Next level while adding New user in the Next level.[Otherwise will loose that ETH]
        (3) An user can add Maximum 1092 users(as referrals) and Total 6 Level to buy to add New User. If all(1092) users buy all Level from him then maximum 1092*(L/2)=5110.56 ETH possible to Earn in theory.
        (4) An user(Introducer) need to buy Levels (.32+.16+.25+.75+2.25+7)=10.73 ETH to add 1092 users to Earn 1092 *(L1/2)=163.8 ETH

        [Note: Make sure u Buy the Next Level from where u want to Earn ETH]*@

        Game Rules:

        1.	Whoever join this game buying Level 1 (= 0.32 ETH investment), will get 3 referrals positions, which means you can get 3 New users = 0.45 ETH revenue from your first investment (0.32 ETH) so, whoever join, will get this profit adding 3 New users (in some point even without adding New users you can get this profit).

        2.	If you bring New users you will get 50% for each Level the New users purchased = 0.15 ETH for each New user. You must buy next levels while adding New users otherwise, you will lose the opportunity to get ETH new rewards

        3.	You can add Maximum 1092 New users (as referrals) in Total 6 Levels to add New Users. If all 1092 New users buy all Levels from you then maximum 1092 positions which is = 5110.56 ETH possible REWARDS to Earn!

        4.	You need to buy all levels ( cost Level 1 = 0.32, Level 2 = 0.16, Level 3 = 0.25, Level 4 = 0.75, Level 5 = 2.25, Level 6 = 7 ETH) Total final cost =10.73 ETH to get 1092 users positions to Earn 1092 * Level = 163.8 ETH TOTAL reward!

        Note: Make sure you Buy the Next Level from where you want to Earn ETH rewards!

    </div>
