@model string

@{
    ViewData["Title"] = "Invite";
}

@*<h1><a href="@Model" target="_blank">@Model</a></h1>*@

<div class="row">
    <div class="col-md-12">
        <!-- The text field -->
        <input type="text" class="form-control" readonly value="@Contract.SiteURL/Account/Login?refId=@Model" id="myInput">

        <!-- The button used to copy the text -->
        <button onclick="myFunction('myInput')">Copy Link To Share on Web</button>
        </div>
    </div>
<br />
<div class="row">
    <div class="col-md-12">
        <!-- The text field -->
        <input type="text" class="form-control" readonly value="@Contract.TlgrmURL?start=@Model" id="myInput2">

        <!-- The button used to copy the text -->
        <button onclick="myFunction('myInput2')">Copy Link To Share on Telegram</button>
    </div>
</div>
        <script>
            function myFunction(strId) {
                /* Get the text field */
                var copyText = document.getElementById(strId);

                /* Select the text field */
                copyText.select();
                copyText.setSelectionRange(0, 99999); /*For mobile devices*/

                /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                alert("Copied the text: " + copyText.value);
            }
        </script>



